/basa
/gomerbarton/.vs/gomerbarton.slnx/FileContentIndex
gomerbarton/.vs/gomerbarton.slnx/FileContentIndex/27717382-46e2-4c32-8443-1171ec874113.vsidx
gomerbarton/.vs/gomerbarton.slnx/FileContentIndex/34ed2873-ed0e-4c83-91e6-0d96334752c9.vsidx
gomerbarton/.vs/gomerbarton.slnx/FileContentIndex/34ed2873-ed0e-4c83-91e6-0d96334752c9.vsidx
gomerbarton/.vs/gomerbarton.slnx/FileContentIndex/27717382-46e2-4c32-8443-1171ec874113.vsidx
